* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* nav section */
nav {
  background-color: black;
  color: rgb(206, 207, 207);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: rgb(206, 207, 207);
}
nav ul {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  gap: 20px;
  color: rgb(206, 207, 207);
}
nav li {
  list-style: none;
  padding: 15px;
  border-radius: 5px;
}
nav li:not(:last-child):hover {
  background-color: gray;
}
nav form {
  display: flex;
  flex-direction: row;
  width: 400px;
}
nav form input {
  border: none;
  /* padding: 18px; */
  background-color: rgb(206, 207, 207);
}
nav form button {
  width: 70px;
  font-size: 1.2em;
  color: rgb(206, 207, 207);
}

#heading {
  font-size: 2.5em;
  text-align: center;
}
#heading span {
  color: red;
  font-style: italic;
}
#slogan {
  font-style: italic;
  color: grey;
}

/* start of authentication section */
#authentication {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/images/bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#authentication nav {
  justify-content: space-evenly;
  padding: 30px;
}
.opacity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.888);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 50%;
  width: 600px;
  font-size: 1.2em;
  box-shadow: 5px 5px 20px 5px black;
  background-color: grey;
}
form input,
textarea {
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
  border: 1px solid rgb(188, 187, 187);
}
form label {
  width: 90%;
  text-align: left;
  color: rgb(22, 21, 21);
}
form p {
  margin-bottom: 5px;
}
button {
  width: 50%;
  color: rgb(47, 46, 46);
  font-size: 1.2em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
/* end of authentication section */

/* main section */
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.user {
  color: grey;
}
.fa-spinner {
  font-size: 3.5em;
  margin-top: 100px;
}
#content {
  height: 100%;
  width: 100%;
  display: flex;
}
#newsCategory {
  position: relative;
  cursor: pointer;
}
#categoryList {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  background-color: rgb(16, 16, 16);
  display: none;
  font-size: 1em;
  text-align: center;
}
#categoryList li {
  padding: 15px;
  width: 250px;
  border-bottom: 1px solid grey;
}
#newsCategory:hover #categoryList {
  display: block;
}
#categoryList li:hover {
  background-color: gray;
}
#newsBriefs {
  height: 90%;
  width: 30%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.briefsHead {
  font-size: 1.6em;
  background-color: rgb(53, 52, 52);
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  color: rgb(200, 196, 196);
}
#newsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#newsList li {
  height: 400px;
  width: 95%;
  border: 1px solid rgb(146, 145, 145);
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px 3px rgb(164, 163, 163);
  cursor: pointer;
}
#newsList li:hover,
#newsList li:focus {
  transform: scale(1.01);
}
#newsList li img {
  height: 65%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#newsList p,
h3 {
  margin-bottom: 10px;
  margin-left: 5px;
}
#newsList h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}
#newsDetails {
  display: flex;
  height: 100%;
  width: 70%;
}
#details {
  height: 90%;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
#details h3 {
  border-bottom: 1px solid rgb(203, 201, 201);
  font-size: 2em;
  padding: 20px;
}
#details img {
  height: 50%;
  width: 60%;
  margin-bottom: 10px;
}
#details p {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.3em;
}
#details p {
  color: grey;
  line-height: 35px;
}
#details .content {
  color: black;
}
#details button {
  width: 200px;
}
/* contact section */
#contact {
  height: 100vh;
  background-color: rgb(38, 36, 36);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.contactCard {
  display: flex;
  height: 70%;
  width: 70%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.593);
  border-radius: 20px;
  gap: 100px;
  color: rgb(192, 187, 187);
  font-size: 1.1em;
  box-shadow: 5px 5px 10px 2px rgb(38, 38, 38);
}
#contact form {
  height: 80%;
  width: 50%;
  background-color: transparent;
  box-shadow: none;
  color: rgb(192, 187, 187);
  margin-left: 20px;
}
#contact form input,
#contact form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
}
#contact form textarea{
  color: rgb(192, 187, 187);
}
#contact form label,
#contact form button {
  color: rgb(192, 187, 187);
}
#contactInfo {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.167);
  margin-right: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgb(9, 9, 9);
  font-size: 1.1em;
}
#contactInfo .customIcon {
  font-size: 2em;
  margin-right: 15px;
}
.fa-whatsapp {
  margin-left: 15px;
}
.fa-copyright {
  color: rgb(192, 187, 187);
}
.toTop {
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.toTop a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
