* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* nav section */
nav {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
}
#heading {
  font-size: 2em;
}
#heading span {
  color: red;
  font-style: italic;
}
#slogan {
  font-style: italic;
  font-size: 0.8em;
}

/* start of authentication section */
#authentication {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/images/bg.jpg);
  background-size: cover;
}

.opacity{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.811);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 40%;
  width: 400px;
  margin: auto;
  font-size: 1.2em;
  box-shadow: 5px 5px 20px 5px black;
  background-color: grey;
}
form input {
  padding: 16px;
  border-radius: 5px;
  width: 100%;
  border: none;
  border: 1px solid rgb(188, 187, 187);
}
form label {
  width: 90%;
  text-align: left;
  color: rgb(22, 21, 21);
}
form p {
  margin-bottom: 5px;
}
form button {
  width: 50%;
  color: rgb(47, 46, 46);
  font-size: 1.2em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
/* end of authentication section */

/* main section */
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

