* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* nav section */
nav {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
nav a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#heading {
  font-size: 2em;
  text-align: center;
}
#heading span {
  color: red;
  font-style: italic;
}
#slogan {
  font-style: italic;
  font-size: 0.8em;
}

/* start of authentication section */
#authentication {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.opacity{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.811);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 50%;
  width: 600px;
  /* margin: auto; */
  font-size: 1.2em;
  box-shadow: 5px 5px 20px 5px black;
  background-color: grey;
}
form input, textarea {
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
  border: 1px solid rgb(188, 187, 187);
}
form label {
  width: 90%;
  text-align: left;
  color: rgb(22, 21, 21);
}
form p {
  margin-bottom: 5px;
}
form button {
  width: 50%;
  color: rgb(47, 46, 46);
  font-size: 1.2em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
/* end of authentication section */

/* main section */
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* contact section */

#contact{
  height: 100vh;
  background-color: rgb(38, 36, 36);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;

}

#contact form{
  height: 60%;

}

#contactInfo{
  height: 60%;
  color: rgb(47, 46, 46);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contactInfo h3{
  color: black;
  font-size: 1.5em;
}
.line{
  border: 1px solid rgb(98, 96, 96);
  height: 40%;
  box-shadow: 1px 1px 30px 2px rgb(30, 10, 10);

}
.toTop{
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.toTop a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
